<a href="https://colab.research.google.com/github/PabloViniciusSS/Api_Listacompras/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tootls and Ecosystem are summarized

**Objectives:** The aim of this course is to look at the main tools used and their characteristics, giving a broad overview of all the tools.
<br>


<h4>List popular languages for Data Science:</h4>

*   Free and paid data science tools;
*   Data Science Languages;
*   Packages, APIs, datasets and models;
*   Jupyter Notebooks e JupyterLab;
*   RStudio e Github.

Some of the popular languanges that Data Scientists use are:

1.   Python
2.   SQL
3.   R

Some of the commonly used libraries used by Data Scientists include:

1.  Numpy
2.  Pandas
3.  TensorFlow

<table><tr><th>  <h1> Data Science Tools </h1></th></tr>
<tr><th> Jupyter </th></tr>
<tr><th> Anaconda </th></tr>
<tr><th> RStudio </th></tr>
<table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
(3*4)+5

#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

<h2>Author</h2>

Pablo Vin√≠cius Sousa Silva